* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-red: #E3646E;
    --main-purple: #BB72E9;
    --main-blue: #3996DB;
    --main-green: #82BC4F;
    --main-yellow: #EABD5F;
    --base-gray-100: #0D0E11;
    --base-gray-200: #16181D;
    --base-gray-300: #292C34;
    --base-gray-400: #878EA1;
    --base-gray-500: #C0C4CE;
    --base-gray-600: #E2E4E9;
    --font-family-asap: "Asap", sans-serif;
    --font-family-inconsolata: "Inconsolata", monospace;
    --font-family-maven: "Maven Pro", sans-serif;
    --title-lg: 700 56px/120% var(--font-family-asap);
    --title-md: 700 24px/120% var(--font-family-asap);
    --title-sm: 700 16px/120% var(--font-family-asap);
    --subtitle: 400 20px/120% var(--font-family-inconsolata);
    --text-md: 400 16px/140% var(--font-family-maven);
    --text-sm: 400 14px/140% var(--font-family-maven);
}

body {
    font-family: var(--font-family-maven);
    background-color: var(--base-gray-200);
    color: var(--base-gray-500);
    text-align: center;
}

h1, h2, h3 {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1366px;
    padding-inline: 163px;
    margin-inline: auto;
}
