#hero {
    background-image: url(../assets/images/Background_Intro.png);
    background-size: cover;
    justify-items: center;
    gap: 94px;
    padding-block: 120px 56px;
}

#hero header {
    margin-block: 0px 80px;
}

#avatar {
    position: relative;
    border: solid 2px var(--main-red);
    border-radius: 100%;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    img {
        border-radius: 100%;
        width: 100%;
        height: 100%;
        padding: 4px;
    }
    #devicon {
        position: absolute;
        padding: 0px;
        bottom: -8px;
        right: -12px;
        width: 42px;
        height: auto;
    }   
}

#hero-text {
    margin-top: 56px;
    h1 {
        margin-bottom: 20px;
    }
    span {
        color: var(--main-red);
    }
    .subtitle {
        color: var(--base-gray-500);
    }
    p:nth-child(3) {
        color: var(--base-gray-400);
      }
}

#skills {
    grid-template-columns: repeat(6, max-content);
    justify-content: center;
    div {
        grid-template-columns: max-content 1fr;
        background: var(--base-gray-300);
        border-radius: 999px;
        align-items: center;
        padding: 8px 16px;
    }
}

#work {
    padding-block: 72px 144px;
    gap: 56px;
    .subtitle {
        color: var(--main-red);
    }
    div {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    a {
        border: solid 1.5px transparent;
        transition: all 0.2s linear;
    }
    a:hover {
        border: solid 1.5px var(--base-gray-400);
    }
}

.card {
    border-radius: 12px;
    text-align: left;
    background-color: var(--base-gray-300);
    padding: 12px;
    img {
        border-radius: 8px;
        margin-bottom: 20px;
        object-fit: cover;
    }
    p {
        color: var(--base-gray-500);
    }
    figcaption {
        padding: 4px;
    }
}