/* utility-first */
.grid {
    display: grid;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.title-lg {
    font: var(--title-lg)
}
.title-md {
    font: var(--title-md)
}
.title-sm {
    font: var(--title-sm)
}
.subtitle {
    margin-bottom: 8px;
    font: var(--subtitle)
}
.text-md {
    font: var(--text-md)
}
.text-sm {
    font: var(--text-sm)
}